/* Global Styles */
body {
  /* border: 1px solid black; */
  background-color: #FCC8D1;
  margin: 0rem;
  /* overflow-x: hidden; */
  /* margin-top: 1; */
  /* margin-bottom: 1; */
}

div {
  /* border: 1px solid black; */
}

.page-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header{
  margin-top: 0;
  display: flex;
  flex-direction: column;
  background-color: #FFABAB;
  flex-shrink: 0;
  width: 100%;
}

.link-head {
  /* position: absolute; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 24rem;
  padding-right: 24rem;
  margin-bottom: 1rem;
  margin-top: 2.75rem;
  font-family: quicksand;
  font-weight: 700;
}

.link-b {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #D14D72;
  height: 2rem;
  width: 7rem;
  border: 3px solid #FEF2F4;
  text-decoration: none;
  color: black;
  border-radius: 25px;
}

.caption-head {
  display: flex;
  justify-content: flex-end;
  margin-right: 1rem;
}

#caption {
  display: flex;
  align-items: baseline;
  justify-content: baseline;
  /* background-color: red; */
  width: 15rem;
  height: 1.5rem;
  margin: 0;
  font-family: quicksand;
  font-weight: 900;
  /* border: 3px solid black; */
}



/* index.html styles */

.hero {
  margin-top: 0rem;
  /* border: 1px solid black; */
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #D14D72;
}

.logo-img {
  /* border: 1px solid black; */
  /* border-radius: 50%; */
  scale: 70%;
  z-index: 1;
  margin-top: -3rem;
}

.crop-circle {
  position: absolute;
  /* border: 5px solid black; */
  width: 22rem;
  height: 22rem;
  border-radius: 50%;
  /* box-shadow: 0px 0px 100px inset rgb(0, 0, 0); */
  z-index: 1;
  margin-top: -3rem;

}

#heading{
  margin-top: -4rem;
  /* color: lightcoral; */
  z-index: 3;
  /* width: 12em; */
  /* border: 1px solid black; */
  /* box-shadow: 0 0 100px inset black; */
}

/* Quote Section */

.quote-area {
  margin-top: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 65%;
}

.quote {
  width: 22em;
  font-size: 2.5rem;
  text-align: center;
  margin: 0.5rem;
  font-family: tangerine;
  font-size: 75px;
  word-spacing: 5px;
}

/* Feature Links */

.feature-boxes{
  margin-top: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8rem;
}

.box1 {
  width: 20rem;
  aspect-ratio: 1/1.5;
}

.box2 {
  width: 20rem;
  aspect-ratio: 1/1.5;
}

.box3 {
  width: 20rem;
  aspect-ratio: 1/1.5;
}

.linkbox {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 1.2rem;
  text-decoration: none;
  color: black;
  font-family: quicksand;
}

.linkbox img {
  height: 20rem;
  width: 20rem;
  /* border: 1px solid black; */
  /* background-color: wheat; */
}

/* Footer */

#footer {
  margin-top: 5rem;
  width: 100%;
  background-color: #D14D72;
  display: flex;
  justify-content: center;
  align-items: center;
}

#footer-content {
  /* color: palevioletred; */
  font-family: quicksand;
  font-weight: 700;
}







/* Packages HTML */

#pkg-hero {
  display: flex;
  width: 100%;
  /* border: 1px solid black; */
  font-family: tangerine;
  background-color: #000000;
}

#pkg-heroLeft {
  /* border: 1px solid black; */
  width: 33%;
  /* margin-bottom: 20rem; */
}

#pkg-header {
  display: flex;
  align-items: center;
  justify-content: center;
  /* border: 1px solid black; */
  width: 34%;
  font-size: 5rem;
  color: #FEF2F4;
  letter-spacing: 2px;
}

#pkg-contactLink {
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 1px solid black; */
  width: 33%;
  font-size: 3rem;
  text-decoration: none;
  color: #FEF2F4;
}

#pkg-contactLink:hover {
  background-color: beige;
  font-weight: 900;
  color: #000000;
}



.package-body {
  display: flex;
  flex-direction: column;
  background-color: rgb(189, 189, 189);
  /* height: 100%; */
  width: 100%;
  align-items: center;
  padding: 5rem;
  gap: 5rem;
  font-family: quicksand;
  background-color: #FCC8D1;
}

.package-content {
  height: auto;
  width: 60%;
  /* border: 1px solid black; */
}

.package-body img {
  /* height: 20rem; */
  width: 25%;
  margin-left: 5rem;
  margin-right: 5rem;
  border-radius: 25px;
  margin: 2rem;
}

.package-body #pkg-4 img {
  rotate: 90deg;
  margin-left: 10rem;
  margin-right: 5rem;
}

#pkg-1 {
  display: flex;
  align-items: center;
  padding-left: 5rem;
  background-color: #D14D72;
}

#pkg-2 {
  display: flex;
  align-items: center;
  justify-content: end;
  padding-right: 5rem;
  background-color: #FFABAB;
}

#pkg-3 {
  display: flex;
  align-items: center;
  padding-left: 5rem;
  background-color: #D14D72;
}

#pkg-4 {
  display: flex;
  align-items: center;
  justify-content: end;
  padding-right: 5rem;
  background-color: #FFABAB;
}

.package-text {
  width: 40em;
}

.pkg-body {
  background-color: #FCC8D1;
}






/* Contact Page */

#contact-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #D14D72;
  margin: 5rem;
  margin-top: 3rem;
  width: 75%;
  height: auto;
  gap: 2rem;
  border-radius: 25px;
  padding: 3rem;
}

#contact-hero {
  margin-top: 3rem;
  width: 30em;
  text-align: center;
  font-family: quicksand;
}

#form-body input {
  margin: 0.5rem;
}

#form-body label {
  font-family: quicksand;
  font-size: 1rem;
}

#contact-page-logo {
  /* border: 1px solid black;
  margin-bottom: 0rem; */
}

#contact-logo {
  width: 200px;
}

.input-b {
  background-color: #FEF2F4;
}




/* About Page */
.about-img-box {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 3rem;
}

.about-body img {
  width: 350px;
  border-radius: 25px;
  border: 3px solid black;
}

.about-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about-h {
  margin-top: 1.5rem;
  margin-bottom: 1rem;
  font-family: tangerine;
  font-size: 3rem;
  font-weight: 600;
  letter-spacing: 1px;
}


.about-p {
  width: 50em;
  font-size: 1.2rem;
  text-indent: 2em;
  font-family: quicksand;
}


/* Blog Page */

.blog-page-full {
  display: flex;
  /* gap: 0rem; */
  height: 100%;
  width: 80vw;
  justify-content: space-between;
}

#side-bar{
  height: 600px;
  width: 200px;
  position: sticky;
  padding: 2rem;
  top: 0;
  float: right;
  padding-top: 40px;
  background-color: #FFABAB;
  line-height: 2;
  font-family: quicksand;
}

#side-bar ul li a{
  /* text-decoration: none; */
  color: black;
}

#blog-content {
  margin-top: 3rem;
  margin-right: 25%;
}

#blog-content article {
  margin-bottom: 7rem;
}

#blog-content article p{
  width: 40em;
  text-indent: 5ch;
  font-family: quicksand;
}

#blog-content article h3 {
  font-family: tangerine;
  font-size: 2.5rem;
  letter-spacing: 3px;
}

#blog-hero {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 7rem;
  margin: 0;
  background-color: #D14D72;
  font-family: tangerine;
  font-size: 4rem;
  font-weight: 400;
}

/* Resources Page */

.resource-body {
  display: flex;
  flex-direction: column;
}

#res-header {
  font-weight: 700;
  font-size: 3.5rem;
  letter-spacing: 2px;
  font-family: tangerine;
}

.resource-body ul {
  font-family: quicksand;
}

.resource-body ul p {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 1.50rem;
  font-weight: 600;
}

.resource-body ul li a {
  text-decoration: none;
  color: #D14D72;
  font-weight: 600;
  line-height: 1.5;
}







/* FONTS / OVERRIDES */

@font-face {
  font-family: tangerine;
  src: url(fonts/Tangerine/Tangerine-Regular.ttf) format('truetype');
}

.font-tang {
  font-family: tangerine ,sans-serif;
}

@font-face {
  font-family: quicksand;
  src: url(fonts/Quicksand/static/Quicksand-Regular.ttf) format('truetype');
}

.font-qsand {
  font-family: quicksand ,sans-serif;
}